<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Buat akun</title>
</head>
<style>
    .icon{
        color: #D1D1D1;
        font-size: 70px;
        padding: 0 80px;
    }

    .bg-red{
        background-color: #d65252;
    }

    .awal{
        font-size: 30px;
        width:100%;
    }

    .form-control{
        font-size: 100%
    }

</style>
<body>
<nav class="navbar navbar-light bg-red" style="padding: 30px;">
    <a class="navbar-brand" href="#" style="width: 25px;">
        <img src="/images/assets/Layer x0020 1.png"  alt="" style="width: 275px; height: 50px;">
    </a>

</nav>
<br></br>
<div class="awal">
    <br></br>
    <center><h4 style="font-size: 50px ">Buat Akun </h4>
        <br></br>
        <p><img src="/images/assets/Group 2.png" style="width:25%; margin-top: -5%"></p>
    </center>
</div>
<br></br>
<br></br>
<div class="awal">
    <form action="" class="mx-auto d-auto" method="post" style="width:70%; margin-top:6%">
        <div class="form-group">
            <label>Nama Lengkap</label>
            <input type="text" class="form-control" name="" placeholder="Ahsan Firdaus">
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Nama Panggilan</label>
            <input type="text" class="form-control" name="" placeholder="Ahsan">
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Golongan Darah</label><br>
            <select name="goldar" id="goldar" style="width:100%;">
                <option value="Optional">O+</option>
                <option value="o-">O-</option>
                <option value="A+">A+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>

            </select>
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Tempat, Tanggal Lahir</label>
            <input type="text" class="form-control" name="" placeholder="Sleman, 16 januari 2000" minlength="8" >
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Jenis Kelamin</label>
            <select name="Jkelamin" id="Jkelamin" style="width:100%;">
                <option value="Optional">Laki-laki</option>
                <option value="A">Perempuan</option>
            </select>
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>NIK</label>
            <input type="text" class="form-control" name="" placeholder="3404021601000001" minlength="8">
            <P></P>
            .          <hr width="107%" style="margin-left:-3%;">
            <label>Alamat</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Kemirisewu, Sidorejo, Godean, Sleman, Yogyakarta RT 06/25"></textarea>
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Nomor Handphone</label>
            <input type="text" class="form-control" name="" placeholder="+62 838-4000-6400" minlength="8">
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Email</label>
            <input type="email" class="form-control" name="" placeholder="kingdaus088@gmail.com" minlength="8">
            <p></p>
            <hr width="107%" style="margin-left:-3%;">
            <label>Password</label>
            <input type="password" class="form-control" name="" placeholder="**************" minlength="8">
            <hr width="107%" style="margin-left:-3%;">
            <label>Konfirmasi Password</label>
            <input type="password" class="form-control" name="" placeholder="**************" minlength="8">
            <center>
                <button type="button" class="btn btn-sm" style="width:40%; background-color: #FF9B2B; color: white; margin-top:8%; font-size:110%">Daftar <img src="/images/assets/Group-11.png" alt="Responsive image" width="12%" style="margin-left:4%" ></button>
            </center>
            <br></br>

        </div>
        </table>
    </form>
</div>
</form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

                      
