<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-light bg-red">
    <a class="navbar-brand" href=""><img src="/images/assets/left arrow.png" width="25px"> <span style="color:white"> Kembali</span> </a>
</nav>
<div class="shadow-lg fixed-bottom p-4 bg-white rounded">
    <div class="grid-container">
        <div class="grid-item">
            <a href="#">
                <div class="icon">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Bars"></div>
            </a>
        </div>

        <div class="grid-item">
            <a href="#">
                <div class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="Home"></div>
            </a>
        </div>

        <div class="grid-item">
            <a href="#">
                <div class="icon">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </div>
                <div class="name" data-text="User"></div>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <img src="/images/assets/sarjito.jpg" width="100%" alt="">
    <img src="/images/assets/goldar/Group 30@2x.png" style="margin-top: -40%; width:30%; margin-left: 3% ">

    <p> <span style="color:#D65252">Rumah Sakit Sardjito</span></p>
    <img src="/images/assets/hospital.png" width="5%" alt=""> <span class="font-pudar">Jl. Kesehatan No.1, Senolowo, Sinduadi, Mlati</span><br>
    <img src="/images/assets/Path 19.png" width="5%" alt=""> <span class="font-pudar">(0274) 587333</span><br>
    <img src="/images/assets/Group-7.png" width="5%" alt=""> <span class="font-pudar">19 Mei 2019</span><br>
    <span style="color:#D65252">Jumlah kebutuhan : 9 kantong</span> <br> <br>
    <p class="text-center">Daftar sebagai pendonor</p>
    <div class="input container">
        <input type="date" class="form-control" height="5%" placeholder="Pilih waktu kedatangan">  <br>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-success">Daftar <img src="/images/assets/Vector-7.png " width="20px"></button>
        </div>
    </div>
</div>
</body>
</html>
